<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/main}">
    <head>
        <title>Réinitialisation du mot de passe</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1 class="mb-4">Réinitialisation du mot de passe</h1>

			<p>Mot de passe oublié ? Veuillez indiquer votre adresse email ci-dessous, 
				et nous vous enverons un email avec les instructions pour en définir un nouveau.</p>
				
            <form th:action="@{/password_reset}" method="post">
				<div>
			      	<label for="email">Email:</label>
			       	<input type="email" name="email" id="email" required>
			    </div>
			    <div>
			       	<button type="submit" class="btn btn-primary mt-4">Réinitialiser mon mot de passe</button>
			    </div>
            </form>
        </div>
    </body>
</html>
